.list-inline {
  list-style: none;
  margin-top: 50px;
  padding-left: 0px;
  text-align: center;
}

.list-inline li {
  display: inline;
  padding: 15px;
}

.list-inline i {
  font-size: 55px;
  color: #D988B9;
}

.list-inline i:hover {
  opacity: 0.8
}
